---
import Body from "../layouts/Body.astro";
import Prof from "../sections/Prof.tsx";
import News from "../sections/News.tsx";
import Spec from "../sections/Spec.tsx";
import Work from "../sections/Work.tsx";

const title = "yuarasino.net";
const description = "新篠ゆうのウェブサイト";
---

<Body {title} {description}>
  <main class="min-h-screen">
    <Prof />
    <News />
    <Spec />
    <Work />
  </main>
</Body>
