---
import Body from "../layouts/Body.astro";

const title = "yuarasino.net";
const description = "新篠ゆうのウェブサイト";
---

<Body {title} {description}>
  <main class="min-h-screen">
    <h1>{title}</h1>
    <p>{description}</p>
  </main>
</Body>
