---
import Body from "../layouts/Body.astro";

const title = "INFO | yuarasino.net";
const description = "インフォ | 新篠ゆうのウェブサイト";
---

<Body {title} {description}>
  <main class="min-h-screen pt-16">
    <h1 class="text-primary-500">{title}</h1>
    <p class="text-secondary-500">{description}</p>
    <i class="iconify fa6-brands--x-twitter" />
  </main>
</Body>
