---
import Html from "./Html.astro";
import Header from "../components/Header.tsx";
import Aside from "../components/Aside.tsx";
import Footer from "../components/Footer.tsx";

import type { HtmlProps } from "./Html.astro";

export interface BodyProps extends HtmlProps {}

interface Props extends BodyProps {}

const props = Astro.props;
---

<Html {...props}>
  <body>
    <Header client:load />
    <Aside />
    <slot />
    <Footer />
  </body>
</Html>
