---
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/noto-sans-display";
import "@fontsource-variable/noto-sans-mono";

interface Props {
  title: string;
  description: string;
}

export type { Props as HtmlProps };

const props = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{props.title}</title>
    <meta name="description" content={props.description} />
  </head>
  <slot />
</html>
